<ng-container *ngIf="currentRoom; else closedChat">
    <div class="chat-wrapper">
        <div class="chat-wrapper_header">
            <span [ngClass]="avatar"></span>
            <span>{{roomMembers[0]}}</span>
        </div>
        <div #scrollContainer class="chat-wrapper_messages">
            <ng-container *ngFor="let message of chatHistory">
                <app-chat-message [time]="getTime($any(message.created))" [self]="checkMessageSender(message)"
                    [msg]="message.content" />
            </ng-container>
        </div>
        <div class="message-input">
            <app-chat-input (clickEmitter)="sendHandler($event)" />
        </div>
    </div>
</ng-container>


<ng-template #closedChat>
    <div class="closed-chat">
        <span>pick someone to start chatting</span>
    </div>
</ng-template>